/* eslint-disable */
.mar-5 {
  margin: 0.05rem;
}
.mar-tb-5 {
  margin-left: 0.05rem;
  margin-bottom: 0.05rem;
}
.mar-t-5 {
  margin-top: 0.05rem;
}
.mar-b-5 {
  margin-bottom: 0.05rem;
}
.mar-l-5 {
  margin-left: 0.05rem;
}
.mar-r-5 {
  margin-right: 0.05rem;
}
.mar-lr-5 {
  margin-left: 0.05rem;
  margin-right: 0.05rem;
}
.pad-5 {
  padding: 0.05rem;
}
.pad-tb-5 {
  padding-left: 0.05rem;
  padding-bottom: 0.05rem;
}
.pad-t-5 {
  padding-top: 0.05rem;
}
.pad-b-5 {
  padding-bottom: 0.05rem;
}
.pad-l-5 {
  padding-left: 0.05rem;
}
.pad-r-5 {
  padding-right: 0.05rem;
}
.pad-lr-5 {
  padding-left: 0.05rem;
  padding-right: 0.05rem;
}
.mar-10 {
  margin: 0.1rem;
}
.mar-tb-10 {
  margin-left: 0.1rem;
  margin-bottom: 0.1rem;
}
.mar-t-10 {
  margin-top: 0.1rem;
}
.mar-b-10 {
  margin-bottom: 0.1rem;
}
.mar-l-10 {
  margin-left: 0.1rem;
}
.mar-r-10 {
  margin-right: 0.1rem;
}
.mar-lr-10 {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
.pad-10 {
  padding: 0.1rem;
}
.pad-tb-10 {
  padding-left: 0.1rem;
  padding-bottom: 0.1rem;
}
.pad-t-10 {
  padding-top: 0.1rem;
}
.pad-b-10 {
  padding-bottom: 0.1rem;
}
.pad-l-10 {
  padding-left: 0.1rem;
}
.pad-r-10 {
  padding-right: 0.1rem;
}
.pad-lr-10 {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.mar-15 {
  margin: 0.15rem;
}
.mar-tb-15 {
  margin-left: 0.15rem;
  margin-bottom: 0.15rem;
}
.mar-t-15 {
  margin-top: 0.15rem;
}
.mar-b-15 {
  margin-bottom: 0.15rem;
}
.mar-l-15 {
  margin-left: 0.15rem;
}
.mar-r-15 {
  margin-right: 0.15rem;
}
.mar-lr-15 {
  margin-left: 0.15rem;
  margin-right: 0.15rem;
}
.pad-15 {
  padding: 0.15rem;
}
.pad-tb-15 {
  padding-left: 0.15rem;
  padding-bottom: 0.15rem;
}
.pad-t-15 {
  padding-top: 0.15rem;
}
.pad-b-15 {
  padding-bottom: 0.15rem;
}
.pad-l-15 {
  padding-left: 0.15rem;
}
.pad-r-15 {
  padding-right: 0.15rem;
}
.pad-lr-15 {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}
.mar-20 {
  margin: 0.2rem;
}
.mar-tb-20 {
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
}
.mar-t-20 {
  margin-top: 0.2rem;
}
.mar-b-20 {
  margin-bottom: 0.2rem;
}
.mar-l-20 {
  margin-left: 0.2rem;
}
.mar-r-20 {
  margin-right: 0.2rem;
}
.mar-lr-20 {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.pad-20 {
  padding: 0.2rem;
}
.pad-tb-20 {
  padding-left: 0.2rem;
  padding-bottom: 0.2rem;
}
.pad-t-20 {
  padding-top: 0.2rem;
}
.pad-b-20 {
  padding-bottom: 0.2rem;
}
.pad-l-20 {
  padding-left: 0.2rem;
}
.pad-r-20 {
  padding-right: 0.2rem;
}
.pad-lr-20 {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.mar-25 {
  margin: 0.25rem;
}
.mar-tb-25 {
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
}
.mar-t-25 {
  margin-top: 0.25rem;
}
.mar-b-25 {
  margin-bottom: 0.25rem;
}
.mar-l-25 {
  margin-left: 0.25rem;
}
.mar-r-25 {
  margin-right: 0.25rem;
}
.mar-lr-25 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.pad-25 {
  padding: 0.25rem;
}
.pad-tb-25 {
  padding-left: 0.25rem;
  padding-bottom: 0.25rem;
}
.pad-t-25 {
  padding-top: 0.25rem;
}
.pad-b-25 {
  padding-bottom: 0.25rem;
}
.pad-l-25 {
  padding-left: 0.25rem;
}
.pad-r-25 {
  padding-right: 0.25rem;
}
.pad-lr-25 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.mar-30 {
  margin: 0.3rem;
}
.mar-tb-30 {
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}
.mar-t-30 {
  margin-top: 0.3rem;
}
.mar-b-30 {
  margin-bottom: 0.3rem;
}
.mar-l-30 {
  margin-left: 0.3rem;
}
.mar-r-30 {
  margin-right: 0.3rem;
}
.mar-lr-30 {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.pad-30 {
  padding: 0.3rem;
}
.pad-tb-30 {
  padding-left: 0.3rem;
  padding-bottom: 0.3rem;
}
.pad-t-30 {
  padding-top: 0.3rem;
}
.pad-b-30 {
  padding-bottom: 0.3rem;
}
.pad-l-30 {
  padding-left: 0.3rem;
}
.pad-r-30 {
  padding-right: 0.3rem;
}
.pad-lr-30 {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.mar-35 {
  margin: 0.35rem;
}
.mar-tb-35 {
  margin-left: 0.35rem;
  margin-bottom: 0.35rem;
}
.mar-t-35 {
  margin-top: 0.35rem;
}
.mar-b-35 {
  margin-bottom: 0.35rem;
}
.mar-l-35 {
  margin-left: 0.35rem;
}
.mar-r-35 {
  margin-right: 0.35rem;
}
.mar-lr-35 {
  margin-left: 0.35rem;
  margin-right: 0.35rem;
}
.pad-35 {
  padding: 0.35rem;
}
.pad-tb-35 {
  padding-left: 0.35rem;
  padding-bottom: 0.35rem;
}
.pad-t-35 {
  padding-top: 0.35rem;
}
.pad-b-35 {
  padding-bottom: 0.35rem;
}
.pad-l-35 {
  padding-left: 0.35rem;
}
.pad-r-35 {
  padding-right: 0.35rem;
}
.pad-lr-35 {
  padding-left: 0.35rem;
  padding-right: 0.35rem;
}
.mar-40 {
  margin: 0.4rem;
}
.mar-tb-40 {
  margin-left: 0.4rem;
  margin-bottom: 0.4rem;
}
.mar-t-40 {
  margin-top: 0.4rem;
}
.mar-b-40 {
  margin-bottom: 0.4rem;
}
.mar-l-40 {
  margin-left: 0.4rem;
}
.mar-r-40 {
  margin-right: 0.4rem;
}
.mar-lr-40 {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.pad-40 {
  padding: 0.4rem;
}
.pad-tb-40 {
  padding-left: 0.4rem;
  padding-bottom: 0.4rem;
}
.pad-t-40 {
  padding-top: 0.4rem;
}
.pad-b-40 {
  padding-bottom: 0.4rem;
}
.pad-l-40 {
  padding-left: 0.4rem;
}
.pad-r-40 {
  padding-right: 0.4rem;
}
.pad-lr-40 {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.mar-45 {
  margin: 0.45rem;
}
.mar-tb-45 {
  margin-left: 0.45rem;
  margin-bottom: 0.45rem;
}
.mar-t-45 {
  margin-top: 0.45rem;
}
.mar-b-45 {
  margin-bottom: 0.45rem;
}
.mar-l-45 {
  margin-left: 0.45rem;
}
.mar-r-45 {
  margin-right: 0.45rem;
}
.mar-lr-45 {
  margin-left: 0.45rem;
  margin-right: 0.45rem;
}
.pad-45 {
  padding: 0.45rem;
}
.pad-tb-45 {
  padding-left: 0.45rem;
  padding-bottom: 0.45rem;
}
.pad-t-45 {
  padding-top: 0.45rem;
}
.pad-b-45 {
  padding-bottom: 0.45rem;
}
.pad-l-45 {
  padding-left: 0.45rem;
}
.pad-r-45 {
  padding-right: 0.45rem;
}
.pad-lr-45 {
  padding-left: 0.45rem;
  padding-right: 0.45rem;
}
.mar-50 {
  margin: 0.5rem;
}
.mar-tb-50 {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.mar-t-50 {
  margin-top: 0.5rem;
}
.mar-b-50 {
  margin-bottom: 0.5rem;
}
.mar-l-50 {
  margin-left: 0.5rem;
}
.mar-r-50 {
  margin-right: 0.5rem;
}
.mar-lr-50 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.pad-50 {
  padding: 0.5rem;
}
.pad-tb-50 {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}
.pad-t-50 {
  padding-top: 0.5rem;
}
.pad-b-50 {
  padding-bottom: 0.5rem;
}
.pad-l-50 {
  padding-left: 0.5rem;
}
.pad-r-50 {
  padding-right: 0.5rem;
}
.pad-lr-50 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.mar-55 {
  margin: 0.55rem;
}
.mar-tb-55 {
  margin-left: 0.55rem;
  margin-bottom: 0.55rem;
}
.mar-t-55 {
  margin-top: 0.55rem;
}
.mar-b-55 {
  margin-bottom: 0.55rem;
}
.mar-l-55 {
  margin-left: 0.55rem;
}
.mar-r-55 {
  margin-right: 0.55rem;
}
.mar-lr-55 {
  margin-left: 0.55rem;
  margin-right: 0.55rem;
}
.pad-55 {
  padding: 0.55rem;
}
.pad-tb-55 {
  padding-left: 0.55rem;
  padding-bottom: 0.55rem;
}
.pad-t-55 {
  padding-top: 0.55rem;
}
.pad-b-55 {
  padding-bottom: 0.55rem;
}
.pad-l-55 {
  padding-left: 0.55rem;
}
.pad-r-55 {
  padding-right: 0.55rem;
}
.pad-lr-55 {
  padding-left: 0.55rem;
  padding-right: 0.55rem;
}
.mar-60 {
  margin: 0.6rem;
}
.mar-tb-60 {
  margin-left: 0.6rem;
  margin-bottom: 0.6rem;
}
.mar-t-60 {
  margin-top: 0.6rem;
}
.mar-b-60 {
  margin-bottom: 0.6rem;
}
.mar-l-60 {
  margin-left: 0.6rem;
}
.mar-r-60 {
  margin-right: 0.6rem;
}
.mar-lr-60 {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}
.pad-60 {
  padding: 0.6rem;
}
.pad-tb-60 {
  padding-left: 0.6rem;
  padding-bottom: 0.6rem;
}
.pad-t-60 {
  padding-top: 0.6rem;
}
.pad-b-60 {
  padding-bottom: 0.6rem;
}
.pad-l-60 {
  padding-left: 0.6rem;
}
.pad-r-60 {
  padding-right: 0.6rem;
}
.pad-lr-60 {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-26 {
  font-size: 26px;
}
.fs-28 {
  font-size: 28px;
}
.fs-30 {
  font-size: 30px;
}
.fs-32 {
  font-size: 32px;
}
.mar-lr-auto {
  margin-left: auto;
  margin-right: auto;
}
.fc-white {
  color: #fff;
}
.fc-black {
  color: #333;
}
.fc-grey {
  color: #9b9b9b;
}
.fc-red {
  color: #ff0000;
}
.fc-orange {
  color: #FF9900;
}
.fc-price {
  color: #dfa33a;
}
.fc-green {
  color: green;
}
.fc-tit {
  color: #333;
}
.fc-tit-b {
  color: #444;
}
.fc-link-blue {
  color: #003a8f;
}
.fc-blue {
  color: #003a8f;
}
.bg-white {
  background: #fff;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.textline-overflow2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: bold;
}
.ver-middle {
  vertical-align: middle;
}
.btn {
  display: block;
  border-radius: 5px;
  text-align: center;
}
.btn-sm {
  width: 40px;
  height: 25px;
  line-height: 25px;
}
.btn-lar {
  width: 100%;
  height: 25px;
  line-height: 25px;
}
.btn.disabled {
  background: #ccc;
}
.scroll-touch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.img-wrapper img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ub {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: box !important;
  position: relative;
}
.ub-con {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ub-ac {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
.ub-ae {
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
}
.ub-pc {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}
.ub-pe {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
}
.ub-pj {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
}
.ub-ver {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}
.ub-f1 {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.ub > img,
.ub > span,
.ub > i,
.ub > input,
.ub > label,
.ub > a {
  display: block;
}
.ufb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.ufb-f1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.ufb-ac {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.ufb-ae {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}
.ufb-pc {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.ufb-pe {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.ufb-pj {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.ufb-ver {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
.ufb-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.br {
  border: 1px solid #eee;
}
.br-tb {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.br-lr {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.br-t {
  border-top: 1px solid #eee;
}
.br-b {
  border-bottom: 1px solid #eee;
}
.br-l {
  border-left: 1px solid #eee;
}
.br-r {
  border-right: 1px solid #eee;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clear:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.hide {
  display: none;
}
.visible-hide {
  visibility: hidden;
  z-index: -1;
  opacity: 0;
}
.pos-relate {
  position: relative;
}
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
img,
div {
  margin: 0;
  padding: 0;
  outline: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
img,
div,
a,
span,
body:before,
h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before,
hr:before,
p:before,
blockquote:before,
dl:before,
dt:before,
dd:before,
ul:before,
ol:before,
li:before,
pre:before,
form:before,
fieldset:before,
legend:before,
button:before,
input:before,
textarea:before,
th:before,
td:before,
img:before,
div:before,
a:before,
span:before,
body:after,
h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after,
hr:after,
p:after,
blockquote:after,
dl:after,
dt:after,
dd:after,
ul:after,
ol:after,
li:after,
pre:after,
form:after,
fieldset:after,
legend:after,
button:after,
input:after,
textarea:after,
th:after,
td:after,
img:after,
div:after,
a:after,
span:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
th,
td,
img,
div {
  -webkit-touch-callout: inherit;
}
h1,
h2 {
  font-weight: 500;
}
a,
input,
button,
div,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  position: relative;
  max-width: 750px;
  font-family: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", "Microsoft Yahei", Simsun, sans-self;
  font-size: 12px;
  color: #333;
  -webkit-text-size-adjust: 100% !important;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
a:hover {
  text-decoration: none;
}
button,
input,
select,
textarea {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-appearance: none;
  font-family: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", "Microsoft Yahei", Simsun, sans-self;
}
img {
  width: 100%;
  height: auto;
  vertical-align: top;
  -webkit-touch-callout: none;
}
textarea,
input {
  resize: none;
  outline: none;
  -webkit-appearance: none;
}
ul,
ol,
li {
  list-style: none;
}
em {
  font-style: normal;
}
button {
  border-image: none;
  border: 0;
}
.page {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* mint component */
.mint-swipe .mint-swipe-indicator {
  width: 0.533333rem;
  height: 0.133333rem;
  border-radius: 2px;
  margin: 0 4px;
  background: #9b9ca0;
  opacity: 1;
}
.mint-swipe .mint-swipe-indicator.is-active {
  background: #fbfdfc;
  opacity: 1;
}
/* mint component end */
.mint-searchbar-cancel {
  margin-right: 10px;
}
.m-list-tit {
  margin-top: 0.4rem;
  margin-bottom: 0.25rem;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
.m-card {
  background-color: #fff;
}
.m-btn-pay-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 38px;
  line-height: 38px;
  background-color: #fff;
}
.m-btn-pay-wrap .btn-pay {
  width: 2.88rem;
  background-color: #ff0000;
  color: #fff;
}
.m-search-item .message {
  font-size: 16px;
  color: #333;
}
.m-search-item .volume {
  color: #666;
}
.m-search-item .count {
  color: #9497a0;
}
.m-search-item .price {
  color: #dfa33a;
}
.m-search-item .img {
  width: 2.533333rem;
  height: 1.44rem;
  overflow: hidden;
  background-color: #f2f2f2;
  background-size: cover;
  border-radius: 5px;
}
.btn-pay-wrap {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background: #fff;
}
.btn-pay {
  width: 100%;
  padding: 0.1rem 0;
  border-radius: 1.173333rem;
  text-align: center;
  background-color: #374b80;
  color: #fff;
}
.vjs-custom-skin > .video-js .vjs-big-play-button {
  border-radius: 50%;
  width: 2em!important;
  margin-left: -1em !important;
}
.video-js:hover .vjs-big-play-button {
  background: unset!important;
}
/* 详情页 */
.tit-wrap {
  padding: 0.4rem 0.3rem 0.2rem;
}
.tit-wrap .title {
  font-weight: 500;
}
.tit-wrap .subtitle {
  color: #979797;
}
.tit-wrap .content {
  line-height: 30px;
  height: 30px;
  margin-top: 0.2rem;
}
.tit-wrap .content .volume {
  color: #999;
}
.tit-wrap .content .count {
  color: #999;
  margin-left: 0.7rem;
}
/* 详情页  end */
.no-data {
  padding-top: 0.5rem;
  padding-bottom: 1.3rem;
  text-align: center;
}
.no-data .bg {
  width: 4.38rem;
  height: 3.06rem;
}
.no-data .tips {
  margin-top: 0.6rem;
  font-size: 12px;
  color: #9a9a9a;
}
/* 视频播放加载动画 */
.m-loading {
  display: inline-block;
  -webkit-animation: rotates 1s linear infinite;
  animation: rotates 1s linear infinite;
}
.m-scroll-wrap {
  position: relative;
  min-height: 100vh;
}
@-webkit-keyframes rotates {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotates {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* 视频播放加载动画 end */
#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 750px;
  /* no */
  height: 100%;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
}
.mint-button {
  font-size: 12px;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 4px;
  border-radius: 2px;
  margin: 0 1px;
}
.swiper-pagination .my-bullet {
  width: 6px;
  height: 4px;
  border-radius: 2px;
  margin: 0 1px;
  background-color: #4A433F !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  width: 10px;
  border-radius: 2px;
  background-color: #CB9E52 !important;
}
.mint-cell-allow-right::after {
  right: 2px !important;
}
.mint-cell-wrapper {
  padding-left: 0;
}
/* toast */
.mint-toast {
  min-width: 2rem;
  max-width: 6rem;
  overflow: hidden;
}
.mint-toast .mint-toast-text {
  font-size: 14px;
}
/* toast end */
.un-scroll-more {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 16px;
  line-height: 60px;
  color: #aaaaaa;
}
.mintui {
  font-size: inherit!important;
}
/* 导航 */
.mint-tab-item {
  padding: 0;
}
.mint-tab-item.is-selected {
  border-bottom: 0!important;
}
.mint-tab-item.is-selected::after {
  display: none;
}
.mint-tab-item.is-selected .item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.06rem;
  background-color: #EAC17C;
}
.mint-tab-item .item {
  position: relative;
  display: inline-block;
  padding: 0.2rem 0;
  color: #333;
}
.mint-tab-item .item .tit {
  font-size: 16px;
}
.mint-tab-item .item .val {
  margin-top: 0.15rem;
  font-size: 13px;
}
/* 导航 end */
/* loading遮罩 */
.loading-mask {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: box !important;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}
.loading-mask::before {
  content: '';
  display: block;
  -webkit-animation: mint-spinner-rotate 0.8s infinite linear;
  animation: mint-spinner-rotate 0.8s infinite linear;
  width: 32px;
  height: 32px;
  border: 4px solid transparent;
  border-radius: 50%;
  border-top-color: #cccccc;
  border-bottom-color: #cccccc;
  border-left-color: #cccccc;
}
.loading-mask.loading::before {
  display: none;
}
/* loading遮罩 end */
/* 课程购买按钮 */
.course-btn-pay {
  margin: 0.2rem auto;
  width: 6.9rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 14px;
  color: #fff;
  border-radius: 0.8rem;
  background-color: #374b80;
  text-align: center;
  font-weight: bold;
}
/* 课程风向按钮 end */
/* 课程 底部分享 */
.course-share {
  width: 100%;
  height: 0.62rem;
  line-height: 0.62rem;
  font-size: 12px;
  background-color: #fdeaeb;
  color: #f74a46;
  text-align: center;
}
/* 课程 底部分享 end */
/* 首屏loading */
.app-loading {
  position: absolute;
  top: 0;
  z-index: 99;
}
.logo-wrap {
  margin: 0 auto;
  margin-top: 1.95rem;
}
.logo-wrap .tit {
  margin-top: 0.4rem;
  font-size: 16px;
}
.logo-wrap .copy {
  padding: 0.2rem 0;
  width: 100vw;
  font-size: 12px;
}
.loader {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  width: 56px;
}
.loader span {
  display: block;
  bottom: 0px;
  width: 9px;
  height: 5px;
  background: 0.9b 59b 6;
  position: absolute;
  animation: loader 1.5s infinite ease-in-out;
}
.loader span:nth-child(2) {
  left: 11px;
  animation-delay: 0.2s;
}
.loader span:nth-child(3) {
  left: 22px;
  animation-delay: 0.4s;
}
.loader span:nth-child(4) {
  left: 33px;
  animation-delay: 0.6s;
}
.loader span:nth-child(5) {
  left: 44px;
  animation-delay: 0.8s;
}
@keyframes loader {
  0% {
    height: 5px;
    transform: translateY(0px);
    background: #8e7344;
  }
  25% {
    height: 30px;
    transform: translateY(10px);
    background: #e1b975;
  }
  50% {
    height: 5px;
    transform: translateY(0px);
    background: #8e7344;
  }
  100% {
    height: 5px;
    transform: translateY(0px);
    background: #8e7344;
  }
}
/* 高亮光弧 */
.floor-wrap {
  position: relative;
  margin: 0 auto;
  width: 2.6rem;
}
.floor-wrap img {
  width: 100%;
}
.floor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.floor span {
  position: absolute;
  width: 1rem;
  height: 100%;
  top: 0;
  left: 150%;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: skewX(-25deg);
  -moz-transform: skewX(-25deg);
  animation: floor 3s linear infinite;
}
.floor span:nth-child(2) {
  animation-delay: 1s;
}
.floor span:nth-child(3) {
  animation-delay: 2s;
}
@-webkit-keyframes floor {
  0% {
    left: 150%;
  }
  100% {
    left: -80px;
  }
}
@keyframes floor {
  0% {
    left: 150%;
  }
  100% {
    left: -1rem;
  }
}
/* 高亮光弧 end */
.sub-tit {
  margin-top: 0.133333rem;
  letter-spacing: 2px;
}
/* 首屏loading end */
/* ios 滚动 */
.mint-loadmor {
  -webkit-overflow-scrolling: touch;
}
/* ios 滚动 end */
/* v-lazy loading */
img[lazy=loading] {
  margin: auto;
}
/* v-lazy loading end */
.my-toast {
  display: table;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  width: 60%;
  max-height: 75px;
  line-height: 28px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
}
/* 曲线救国 loadmore translatetop50px */
.mint-loadmore-content.is-dropped {
  transform: translate3d(0px, 0px, 0px) !important;
}
/* 曲线救国 end */
/* 播放按钮居中 */
.prism-player .prism-big-play-btn {
  left: 50%!important;
  margin-left: -32px !important;
  opacity: 0;
}
/* 播放按钮居中 end */
/* 加入联盟 */
.btn-join-wrap {
  position: fixed;
  left: 0;
  bottom: 1.2rem;
  z-index: 1;
  width: 100%;
  transition: bottom 0.1s ease;
}
.btn-join-wrap.scroll {
  bottom: -1.2rem;
}
.btn-join-wrap .btn-join {
  margin: 0 auto;
  width: 92%;
  height: 90px;
  margin-bottom: -20px;
  margin-top: 10px;
  background: url('/static/images/tohy.png') no-repeat;
  background-size: contain;
}
/* 加入联盟 end */
.mint-indicator-wrapper {
  z-index: 99999;
}
body {
  /* messagebox */
}
body .mint-msgbox {
  width: 5.46rem;
  border-radius: 6px;
}
body .mint-msgbox-header {
  height: 1.09rem;
  border-bottom: 1px solid #F8F8F8;
  font-size: 16px;
  font-weight: bold;
  color: #141414;
}
body .mint-msgbox-content {
  border-bottom: 1px solid #F8F8F8;
  letter-spacing: 1px;
  padding: 17px;
}
body .mint-msgbox-btns {
  display: flex;
  height: 45px;
  align-items: center;
}
body .mint-msgbox-btn {
  width: 2.11rem;
  height: 0.69rem;
  overflow: hidden;
}
body .mint-msgbox-cancel {
  border-right: 0;
  color: #AAAAAA;
  border: 1px solid #fff;
  background-color: #fff;
  font-size: 16px;
  border-right: 1px solid #F5F7FA;
}
body .mint-msgbox-confirm {
  background-color: #fff;
  color: #CB9E52;
}
body .mint-msgbox-title {
  color: #101010;
  font-size: 17px;
}
body .mint-msgbox-message {
  font-size: 14px;
  color: #65553F;
  line-height: 26px;
}
body .mt-progress-progress {
  background-color: #CB9E52;
  border-radius: 3px;
  /*no*/
}
body .mt-progress-content .mt-progress-runway {
  height: 6px!important;
  /*no*/
}
body .mt-progress-content .mt-progress-progress {
  height: 6px!important;
  /*no*/
}
body .gold-btn-line {
  font-size: 16px;
  /*no*/
  color: #FAEDD3;
  border: 1px solid #FAEDD3;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 0.78rem;
  border-radius: 25px;
  /*no*/
}
body .gold-btn-normal {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #FCEFD5), color-stop(100%, #F3D4A6));
  background: -webkit-linear-gradient(left, #FCEFD5 0, #F3D4A6 100%);
  font-size: 16px;
  /*no*/
  color: #613F05;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 0.78rem;
  border-radius: 25px;
  /*no*/
}
body .gold-btn {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #FCEFD5), color-stop(100%, #F3D4A6));
  background: -webkit-linear-gradient(left, #FCEFD5 0, #F3D4A6 100%);
  font-size: 16px;
  /*no*/
  color: #613F05;
  font-weight: bold;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0.3rem;
  width: 92%;
  height: 0.98rem;
  border-radius: 25px;
  /*no*/
}
body .textline-overflow1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
body .van-overlay {
  background: rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 750px) {
  body {
    transform: translate(calc(50vw - 375px), 0);
  }
}
